* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --margin-side: 60px;
}

.error {
    color: red;
}

.top {
    display: flex;
    background-color: #F17878;
    padding: 20px calc(var(--margin-side) - 10px);
    justify-content: space-between;
}

.top .left {
    display: flex;
}

.top .right {
    display: flex;
}

.top a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.main {
    margin: 40px var(--margin-side);
    margin-bottom: 100px;
}

.main p {
    white-space: pre-wrap;
}

.events {
    margin-top: 50px;
}

.events a {
    text-decoration: none;
    color: black;
}

.event-container {
    background-color: #A5D4F6;
    padding: 15px 25px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.event-right {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.event-details {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}
.event-details p {
    margin-right: 40px;
    color: #474747;
}

.event-links {
    margin-bottom: 70px;
}

.event-links a {
    background-color: #1F78D1;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.search {
    width: 50vw;
    padding: 5px 10px;
}

.nav-button, form input[type=submit] {
    padding: 5px 10px;
}

form p, form input[type=submit] {
    margin-top: 10px;
    margin-bottom: 2px;
}

form input[type=text], form input[type=date], form textarea {
    width: 40vw;
    padding: 5px 10px;
}

form textarea {
    height: 50px;
}

.login-google {
    display: inline-block;
    background-color: #1F78D1;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.center {
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo-container {
    padding: 190px calc(var(--margin-side) + 80px);
    margin-bottom: 80px;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aliceblue;
}

.promo {
    font-size: 2em;
    margin-bottom: 30px;
}
