{% extends "base.html" %}

{% block content %}
    <div class="main">
        <h1>Add Event</h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>Name </p>
            {{ form.title() }}
            {% for error in form.title.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}

            <p>Organizer </p>
            {{ form.organizer }}
            {% for error in form.organizer.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}

            <p>Event type</p>
            {{ form.event_type }}
            {% for error in form.event_type.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}

            <p>Description</p>
            {{ form.description() }}
            {% for error in form.description.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}

            <p>{{ form.is_virtual() }} Virtual</p>
            <p>Location</p>
            {{ form.location() }}

            <p>Link to website</p>
            {{ form.website_link }}
            {% for error in form.website_link.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}

            <p>Link to registration</p>
            {{ form.register_link }}
            {% for error in form.register_link.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
            <p>Event date</p>
            {{ form.date() }}
            {% for error in form.date.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}

            <p>{{ form.required1() }} I understand that by submitting to this site, this event will have to be approved before getting seen by public.</p>
            {% for error in form.required1.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}

            <p>{{ form.required2() }} The STEM event which I am submitting is directed towards females and non-binary people.</p>
            {% for error in form.required2.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}

